version: '3'

services:
  redpanda:
    build: 
      dockerfile: dockerfiles/redpanda.dockerfile
      context: ..
    command:
      - redpanda
      - start
      - "--smp"
      - "4"
      - "--reserve-memory"
      - 0M
      - "--memory"
      - 4G
      - "--overprovisioned"
      - "--node-id"
      - "0"
      - "--check=false"
      - "--kafka-addr"
      - "PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092"
      - "--advertise-kafka-addr"
      - "PLAINTEXT://redpanda:29092,OUTSIDE://redpanda:9092"
    ports:
      - "9092:9092"
      - "9644:9644"
  
  springhead:
    build:
      dockerfile: dockerfiles/springhead.dockerfile
      context: ..
      args:
        - INSTALL_DEV=true
    command: 
      - "--"
      - "sh"
      - "./scripts/start-reload.sh"
    ports:
      - "8888:80"
    env_file:
      - ../env/.env
  
  master:
    build:
      dockerfile: dockerfiles/statefun.dockerfile
      context: ..
    expose:
      - "6123"
    ports:
      - "8081:8081"
    environment:
      - ROLE=master
      - MASTER_HOST=master
  worker:
    build:
      dockerfile: dockerfiles/statefun.dockerfile
      context: ..
    expose:
      - "6121"
      - "6122"
    depends_on:
      - master
    environment:
      - ROLE=worker
      - MASTER_HOST=master